@import url('https://fonts.googleapis.com/css?family=Play:400,700');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	background: #C2E0EB;
}

.padre {
	width: 800px;
	height: 600px;
	padding: 10px;
	border: 20px solid #34495e;
	margin: 20px auto;
	background: #FFF url(../img/fondo.png);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hijo {
	flex-grow: 1;
	flex-shrink: 2;
	flex-basis: 200px;
	flex: 1 2 200px;
	height: 100px;
	line-height: 100px; margin: 10px; background: #FF5349; text-align: center;
	color: #FFF; font-size: 48px;
}