* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    background: url(../img/fondo.jpg) top center;
    background-size: cover;
}
.contenedor {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.padre {
    display: flex;
    justify-content: space-between;
}
header {
    height: 560px;
    background: url(../img/banner.jpg);
    border-bottom: 10px solid rgb(77, 156, 77);
    flex-direction: column;
    padding: 15px 65px;
    align-items: flex-start;
}
#redes {
    align-self: flex-end;
}

#redes a{
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    text-decoration: none;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
}