* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    background: url(../img/fondo.jpg) top center;
    background-size: cover;
}

.contenedor {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}