* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    background: url(../img/fondo.jpg) top center;
    background-size: cover;
}
.contenedor {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.padre {
    display: flex;
    justify-content: space-between;
}
header {
    height: 560px;
    background: url(../img/banner.jpg);
    border-bottom: 10px solid rgb(77, 156, 77);
    flex-direction: column;
    padding: 15px 65px;
    align-items: flex-start;
}
#redes {
    align-self: flex-end;
}

#redes a{
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    text-decoration: none;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
}
#logo {
    width: 254px;
    height: 226px;
}
.navbar {
    width: 1140px;
    height: 60px;
    background: url(../img/fondo_menu.jpg) top center no-repeat;
    align-items: center;
    align-self: center;
    padding: 20px 95px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.5);
}

.navbar a{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.navbar a:hover, .navbar a:active {
    color: rgba(77, 156, 77, 1);
}
#textos {
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
#textos h3,
#textos h2,
#textos p {
    font-weight: normal;
    line-height: 1;
    text-shadow: 0px 6px 6px rgba(0,0,0,0.6);
}
#textos h3 {
    font-size: 48px;
}
#textos h2 {
    font-size: 114px;
}
#textos p {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
}
#textos a {
    background-color:  rgba(77, 156, 77, 0.7);
    font-size: 18px;
    color: #ffffff;
    padding: 18px 42px;
    text-decoration: none;
    display: inline-flex;
}

section {
    color: rgb(59, 35, 18);
    padding: 30px 0 15px;
}

section h2{
    font-size: 48px;
    font-weight: bold;
}
section h3 {
    font-size: 20px;
    color: #cc9966;
    margin-bottom: 10px;
}
.separador {
    width: 160px;
    height: 4px;
    margin: 0px auto;
    background-color: #4d9b4d;
}
p#porque {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    padding: 12px 0;
}